<div class="alert alert-danger mt-2"
  *ngIf="errorMessage$ | async as errorMessage">
  {{ errorMessage }}
</div>

<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <ng-template #loading>
    <div *ngIf="!(errorMessage$ | async)" class="d-flex justify-content-center">
      <div class="spinner-border m-2" role="status">
      </div>
    </div>
  </ng-template>

  <div class='card-body'
       *ngIf="this.products$ | async as products else loading">
    <div class='list-group'>
      <button type='button'
              class='list-group-item'
              *ngFor='let product of products'
              [ngClass]="{'active': product?.id === (this.selectedProducts$ |async)?.id}"
              (click)='onSelected(product.id)'>
        {{ product.productName }} ({{ product.category }})
      </button>
    </div>
  </div>
</div>
